Repository caycehouse/caycehouse.com: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, stylelint --fix

Update renovate.json5
  .github/renovate.json5
Due: none

Update renovate.json5 (#1269)
  .github/renovate.json5
Due: none

Update README.md
  README.md
Due: none

Update README.md (#1271)
  README.md
Due: none

remove deprecated deps
  package-lock.json
  package.json
Due: none

add allowed versions
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
Due: none

add custom manager comments to node version areas
  .github/workflows/ci.yml
  .github/workflows/gatsby.yml
Due: none

testing @types/node renovate pr
  package.json
Due: none

bump package-lock.json
  package-lock.json
Due: none

add label-sync
  .github/labels.yaml
  .github/workflows/label-sync.yaml
Due: none

remove ga digests
  .github/workflows/ci.yml
  .github/workflows/gatsby.yml
Due: none

Create autoMerge.json5
  .github/renovate/autoMerge.json5
Due: none

fix: package.json repo url
  package.json
Due: none

Initial Commit
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/workflows/ci.yml
  .github/workflows/gatsby.yml
  .github/workflows/label-sync.yaml
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  LICENSE
  README.md
  astro.config.mjs
  gatsby-browser.tsx
  gatsby-config.ts
  gatsby-ssr.tsx
  package-lock.json
  package.json
  public/favicon.svg
  src/assets/astro.svg
  src/assets/background.svg
  src/components/Welcome.astro
  src/components/easter-egg.tsx
  src/components/feature.tsx
  src/components/layout.tsx
  src/components/seo.tsx
  src/hooks/use-site-metadata.tsx
  src/images/background.gif
  src/images/feature.jpg
  src/images/logo.png
  src/layouts/Layout.astro
  src/pages/404.tsx
  src/pages/index.astro
  src/pages/index.tsx
  src/styles/_layout.scss
  src/styles/style.scss
  static/CNAME
  static/logo.png
  tsconfig.json
Due: npm run lint:fix, prettier --write, stylelint --fix

feat: astro rewrite
  .github/labels.yaml
  .github/renovate.json5
  .github/workflows/ci.yml
  .github/workflows/label-sync.yaml
  README.md
  astro.config.mjs
  package-lock.json
  package.json
  public/CNAME
  public/favicon.svg
  src/assets/astro.svg
  src/assets/background.gif
  src/assets/background.svg
  src/assets/feature.jpg
  src/components/EasterEgg.astro
  src/components/Feature.astro
  src/components/Head.astro
  src/components/SocialNav.tsx
  src/components/Welcome.astro
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/index.astro
  src/styles/_layout.scss
  src/styles/style.scss
  tsconfig.json
Due: npm run lint:fix, prettier --write, stylelint --fix

fix: build
  astro.config.ts
Due: npm run lint:fix

fix: module imports
  src/components/SocialNav.tsx
  src/layouts/Layout.astro
Due: npm run lint:fix

feat: replace bootstrap with tailwind
  astro.config.ts
  package-lock.json
  package.json
  src/components/SocialNav.astro
  src/components/SocialNav.tsx
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/_layout.scss
  src/styles/style.scss
  tailwind.config.mjs
Due: npm run lint:fix, prettier --write, stylelint --fix

feat: finish replacing bootstrap
  package-lock.json
  package.json
  src/components/Feature.astro
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/index.astro
  src/styles/style.css
Due: none

feat: replace bootstrap with tailwind (#1305)
  astro.config.ts
  package-lock.json
  package.json
  src/components/Feature.astro
  src/components/SocialNav.astro
  src/components/SocialNav.tsx
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/index.astro
  src/styles/style.css
  src/styles/style.scss
  tailwind.config.mjs
Due: npm run lint:fix, prettier --write, stylelint --fix

chore: rename workflow to CI
  .github/workflows/ci.yml
Due: none

feat: tailwind v4
  astro.config.ts
  package-lock.json
  package.json
  src/layouts/Layout.astro
  src/styles/global.css
Due: npm run lint:fix

chore: update settings
  src/components/EasterEgg.astro
Due: none

chore(renovate): add tailwind css group
  .github/renovate.json5
  .github/renovate/groups.json5
Due: none

feat: replace react-icons with astro-icon
  astro.config.ts
  package-lock.json
  package.json
  src/components/SocialNav.astro
Due: npm run lint:fix

feat: remove react
  astro.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: npm run lint:fix

chore: restrict polyfill to events only
  astro.config.ts
Due: npm run lint:fix

fix: astro audits
  src/components/Feature.astro
  src/components/SocialNav.astro
Due: none

chore: reduce renovate update interval
  .github/renovate.json5
Due: none

chore: bump deps
  package-lock.json
  package.json
Due: none

chore: bump deps
  package.json
Due: none

chore: update deps
  package-lock.json
  package.json
Due: none

docs: add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.scss) or (any of: {*.{json,md}})
  stylelint --fix: any of: *.scss
