Repository caycehouse/caycehouse.com: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, stylelint --fix

Finished index formatting
  src/components/feature.tsx
  src/components/layout.tsx
  src/pages/index.tsx
  src/styles/_layout.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Laying out links
  src/pages/404.tsx
  src/pages/index.tsx
Due: npm run lint:fix

Added social icons
  package-lock.json
  package.json
  src/pages/index.tsx
  src/styles/_layout.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Added konami code
  package-lock.json
  package.json
  src/components/easter-egg.tsx
  src/components/layout.tsx
Due: npm run lint:fix

Fix Helmet import
  src/components/seo.tsx
Due: npm run lint:fix

Create netlify.yml
  .github/workflows/netlify.yml
Due: none

Update netlify.yml
  .github/workflows/netlify.yml
Due: none

Delete netlify.yml
  .github/workflows/netlify.yml
Due: none

Create .git-ftp-include
  .git-ftp-include
Due: none

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Added Certs
  src/pages/index.tsx
Due: npm run lint:fix

Delete auto-approve.yml
  .github/workflows/auto-approve.yml
Due: none

Create automerge.yml
  .github/workflows/automerge.yml
Due: none

Update automerge.yml
  .github/workflows/automerge.yml
Due: none

Update README.md
  README.md
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update tests.yml
  .github/workflows/tests.yml
Due: none

Delete automerge.yml
  .github/workflows/automerge.yml
Due: none

Create .kodiak.toml
  .kodiak.toml
Due: none

Changed node-version for Github Actions
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

Delete main.yml
  .github/workflows/main.yml
Due: none

Migrated to Gatsby V3
  .eslintrc.js
  .huskyrc
  .lintstagedrc
  .prettierrc
  gatsby-config.js
  package-lock.json
  package.json
  src/components/easter-egg.tsx
  src/components/feature.tsx
Due: npm run lint:fix

Fixed tests
  .github/workflows/tests.yml
Due: none

Updated home
  src/components/feature.tsx
  src/pages/index.tsx
Due: npm run lint:fix

Delete .kodiak.toml
  .kodiak.toml
Due: none

Update deploy.yml (#817)
  .github/workflows/deploy.yml
Due: none

Create Dockerfile
  Dockerfile
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.scss) or (any of: {*.{json,md}})
  stylelint --fix: any of: *.scss
